  <div class="row">
    <div class="col-xs-12">
      This is a simple numerology application. Given a name and Birthdate, it calculates: 
      <ul>
        <li>Whole Name Number (known as the Destiny Number or Expression Number)</li>
        <li>Vowel Number (known as the Heart's Desire Number or Soul Urge Number)</li>
        <li>Consonant Number (known as the Expression Number or Persona Number)</li>
        <li>Birthdate Number (known as the Life Path Number or Destiny Number)</li>
      </ul> 
               
      <p>As you might gather from the parenthetical notes, different sources in print and around the web are inconsistent with regards to what to call the numbers, so I just set those aside and gave each a more self-explanatory name.</p>
      <p>If you have a consonant in your name that is pronounced as a vowel (typically the 'y' in names like  'Tony' or 'Lynn'), place an exclamation point in front of it (i.e., "Larr!y") to calculate it as a vowel. Exclamation points will also switch vowels into consonants if you want, not that there's any reason to do that. Hey, I don't judge.</p>
    </div>
  </div>