<form name="inputform" ng-submit="submitForm()">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <label for="name">
        name: 
      </label>
      <input class="col-xs-12" type="text" placeholder="your name" name="nameinput" ng-model="ni" ng-change="updateName(ni)" ng-pattern="/^[a-zA-Z!\s]+$/" required>
      <br />
      {{viewStrings.nErr}}
    </div>
    <div class="col-md-4 col-xs-12 ">
      <label for="birthdate"> 
        birthdate:
      </label>
      <input class="col-xs-12" type="date" name="dateinput" placeholder="dd/mm/yyyy" ng-model="di" ng-change="updateDate(di)" required><br />
      {{viewStrings.dErr}}
    </div>
  </div>
  <div class="row">
    <button class="btn" type="submit">Save to database</button>
  </div>
</form>